@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
  gap: 2rem;

  @include respond(tablet) {
    gap: 6rem;
    justify-content: start;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    &__radio {
      display: flex;
      gap: 1.4rem;
      align-items: center;
      font-size: $font-medium-large;
      font-weight: 300;

      &__element {
        appearance: none;
        background-color: $background-color;
        border: 3px solid #fff;
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;

        &:checked::before {
          content: "";
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
        }

        &:checked + label {
          font-weight: 700;
        }

        @include respond(big-desktop) {
          width: 4rem;
          height: 4rem;
          border: 6px solid #fff;

          &:checked::before {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }

      &__label {
        color: $text-content-color-light;
      }
    }
  }
}

.block-title {
  font-size: $font-medium;
  font-weight: 700;
  text-shadow: $title-shadow;
  text-transform: uppercase;

  @include respond(tablet) {
    text-align: center;
  }
}
