$primary-color: #0b0c10;
$secondary-color: #e88301;

$button-gradient: linear-gradient(90deg, #cc7401 0%, #fe9e23 99%);

$background-color: #2a2d36;
$footer-background-color: #15161a;
$logo-background-color: #303030;

$text-color: #fefeff;

$text-content-color-darker: #2a2d34;
$text-content-color: #abaaaf;
$text-content-color-light: #e1e2e7;
